// core overrides
//sidebar font and icon color
$sidebar-color: black;
$sidebar-nav-title-color: black;
$sidebar-nav-link-color: black;
$sidebar-nav-dropdown-color: black;
//Sidebar background
$sidebar-nav-dropdown-bg: white;
$sidebar-bg: white;
$sidebar-minimizer-bg: white;

