// core overrides

//header
$navbar-bg: #173849;
$navbar-color: white;
$navbar-hover-color: #f4f4f4;

//sidebar - background color
$sidebar-bg-color:white;
$sidebar-nav-dropdown-bg: #F9F9F9;
$sidebar-bg: $sidebar-bg-color;
$sidebar-minimizer-bg: $sidebar-bg-color;
$sidebar-nav-link-active-bg: #F9F9F9;
$sidebar-nav-dropdown-toggle-open:#F1F1F1;

//sidebar icon and text color
$sidebar-color: #515151;
$sidebar-active-color: #106EBE;
$sidebar-text-size:16px;

//sidebar font and icon color
$sidebar-nav-title-color: $sidebar-color;
$sidebar-nav-link-color: $sidebar-color;
$sidebar-nav-dropdown-color: $sidebar-color;

//main+card background
$main-bg-color:#EFEFEF;

//h2 font,color,size

//table-div background
$table-div-bg-color:white;


//card-header - color, background
$card-header-bg-color:#f4f9fd;
$card-header-button-color:#515151;
$card-header-button-icon-color:#106EBE;

//card-body - background, border
$card-body-bg-color:white;
$card-body-border:none;


//inputs and selects color, background, border
$inputs-border:1px solid #D9D9D9;
$inputs-border-onFocus:1px solid blue;
$inputs-radius: 2.3px;
//inputs whit icons color, background, border
$input-group-addon: 1px solid #D9D9D9;
$input-search-border:none;
$input-search-radius:2.3px 0px 0px 2.3px !important;
$input-search-button-radius:0px 2.3px 2.3px 0px !important;


//inputs and select labels - color, font, font size

//filter background, border, color
$filter-bg:#F9F9F9;