// Here you can add other styles
.table td {
  vertical-align: middle;
}

.filterDivInside {
  padding-bottom: 35px;
  padding: 0;
  padding-top: 20px;
  padding-right: 15px;
}

.filterDiv {
  width: 250px;
  position: fixed;
  border-right: 1px solid #c2cfd6;
  height: 100%;
  padding: 0;
}

.main .container-fluid {
  padding: 0 15px;
}
