// Here you can add other styles
.table td {
  vertical-align: middle;
}

.table-info {
  background-color: #e5f4ff;
}

.filterDivInside {
  padding-bottom: 100px;
  margin-bottom: 100px;
  padding: 0;
  padding-top: 20px;
  padding-right: 15px;
}

.filterDiv {
  width: 250px;
  position: absolute;
  border-right: 1px solid #c2cfd6;
  flex-direction: row;
  min-height: 95%;
}

.newEditCard {
  max-width: 1380px;
  border-top: 0px;
}

.underlined-input {
  border: none;
  border-bottom: 1px solid #c2cfd6;
  border-width: 1px;
  background-color: white;
}

.badge-info {
  background-color: transparent;
}

.card-header {
  border: 0;
  background-color: #f4f9fd;
}

.sidebar .sidebar-nav {
  border-right: 1px solid rgb(238, 238, 238);
}

.sidebar .sidebar-minimizer {
  border-right: 1px solid rgb(238, 238, 238);
}

.badge-info {
  color: black;
}

.email-app .inbox .message {
  border-top: 1px solid #c2cfd6;
}

.react-datepicker-popper {
  z-index: 7;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
}

.react-select__container {
  width: 100%;
}

.css-1qdiza0 {
  background-color: white;
}
.input-group .form-control {
  z-index: 0;
}
.react-select__single-value {
  padding-right: 45px;
}

.form-control .input-group {
  z-index: 0;
}

.react-datepicker__input-container input {
  width: 100%;
  display: flex;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;
}
.datepickerWrap div input {
  width: 100%;
}

.card-body {
  max-width: 1200px;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 50px;
}

.card {
  margin: auto;
  border: 0;
  min-width: 800px;
  background-color: #f4f4f4;
  min-height: 100%;
  height: 100%;
}

.table-div {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.smallCard {
  min-width: 0;
}
.req {
  font-weight: bold;
}
.req:after {
  color: #e32;
  content: " *";
  display: inline;
}

.card-header {
  position: fixed;
  width: 100%;
  z-index: 1020;
}

.fieldError{
  margin-bottom:0;
  padding-bottom:0;
}

.fieldError input{
  border-color: red;
}
.fieldError div{
  border-color: red;
}
.fieldError .input-group-addon{
  border-color: white;
}

.fullWidth {
  width:100%;
}