.app-header.navbar{
  background-color: rgb(25, 118, 210);
  left:0px;
  height: 54px;
}

.navbar-toggler{
  font-size: 24px;
  padding-left: 15px !important;
}

.headerFiller{
  width:calc( calc(100% - 1920px)/2);
}

.searchButton{
  background-color: white;
  padding: 3.75px 8.875px  3.75px  8.875px;
  min-width: 13px;
  i{
    margin:auto;
  }
}

.nav-dropdown-toggle{
  i{
    color: #797979 !important;
  }
  color: #797979 !important;
  font-size: 13px;
}
.nav-dropdown-toggle::before{
  display:none !important;
}

label{

}

body{
  color:#797979;
}

.app-body{
  margin-top:50px !important;
  font-size: 14px;
}

.sidebarItem{
  color: #36404a;
  margin: 4px 0;
}

.sidebarItem:hover{
  background-color: inherit;
  color: #5fbeaa;
}

.sidebar .nav-link:hover{
  background-color: inherit;
}

.sidebarIcon{
  color:inherit;
  font-size: 15px !important;
}

.nav-dropdown-items .nav-item:hover{
  i{
    color:#20a8d8;
  }
}

.card-header{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 8px;
}

.form-control{
  border-radius: 4px;
}

.form-check label{
  text-transform: none;
  display: inline-block;
  position: relative;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 18px;
}

.checkbox .form-check-input{
  margin-left: 0px;
}

.checkbox{
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 3px;
  margin-right: 3px;
  label{
    cursor:pointer !important;
  }
  cursor:pointer !important;
  ::before{
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #98a6ad;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 17px;
    outline: none !important;
    box-sizing: border-box;
  }
  ::after{
    color: #98a6ad;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 0;
    width: 16px;
  }
}

input[type="checkbox"]:checked + label::after{
  content:"\F00C";
  font-family: 'FontAwesome';
}

input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
  position: absolute;
}
.btn-success{
  background-color: #81c868 !important;
  border: 1px solid #81c868 !important;
}

.btn-primary{
  background-color: #5d9cec !important;
  border: 1px solid #5d9cec !important;
}

.btn-list{
  margin:10px;
  margin-left: 0px;
   .btn{
    margin-bottom: 12px;
    margin-left: 8px;
  }
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
  }

.btn {
  border-radius: 3px;
  outline: none !important;
  font-size: 14px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card-header{
  background-color: inherit;
  margin:10px;
  margin-top: 0px;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 600;
    text-transform: none;
    color:#343a40;
}


.content-page > .content {
  padding-top: 0px;
}

.spaced-content{
  padding: 50px 5px 15px 5px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

.page-title{
  margin:0px;
}

.card-header-ubold {
  font-size: 20px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left:5px;
  padding-left: 10px;
  margin: 0px;
}

.page-menu{
  display: flex;
  margin-top: 10px;
  padding-top: auto;
  margin-bottom: 10px;
}

.column-container{
  margin-right: 10px;
  margin-top: 0px;
  background-color: #fafafa;
  border: 1px solid rgba(54, 64, 74, 0.05);
}

.column-header{
  color:white;
  width:390px;
  font-weight:bold;
  margin:0px;
}

.item-in-column{
  border: 1px solid rgba(152, 166, 173, 0.2);
  border-radius: 5px;
  border-left-width: 3px;
  margin-bottom: 10px !important;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: white;
  width:350px;
}

.highlighted-item-in-column{
  background-color: rgb(211, 238, 246);
}

.badge{
  display: inline;
  padding: 0.3em .6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.font-bold{
  font-weight: 700;
}

.text-muted{
  color:#98a6ad !important;
}

.pull-right{
  float:right;
}

.center-hor{
  margin-top:auto;
  margin-bottom: auto;
}

.filter{
  margin:10px;
  padding:10px;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.taskListRowHeight{
  height: 57px;
}

p{
  margin-bottom: 0px;
}

.experimentalTaskHeader{
  padding-bottom: 0px;
}

.experimentalTaskEdit{
  .card-body{
    padding-top:0px;
  }
  background-color: rgb(249, 249, 249);
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border: 1px solid rgba(54, 64, 74, 0.05);
  border-radius: 5px;
  min-width:1000px;
  max-width: 1284px;
}

.no-border{
  border:none !important;
}

.experimentalRowTask{
  max-width:1300px;
  .row{
    flex-wrap: nowrap;
  }
}

.experimentalRowWrapper{
  margin-top: 5px;
  margin-bottom: 5px;
}

.taskAddButton{
  float: right;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:5px;
  padding-right:5px;
  margin-left: 5px;
}

.input-group-addon{
  background-color: white;
}
.card-body, .card-block {
  background-color: rgb(249, 249, 249);
}

.nav-tabs .nav-item{
  cursor:pointer;
}

.uploadButton{
  font-weight: normal !important;
}

.btn-group {
  .active {
    background-color: #4a81d4 !important;
    border-color: #4a81d4 !important;
    color:white !important;
    box-shadow: none !important;
  }
  .btn{
    background-color: inherit;
    border: 1px solid #4a81d4;
    color:#4a81d4;
    height:32px;
    width:32px;
    padding:1px;
  }
}

.sidebarProjectSelect{
  div{
    border-radius: 50px;
  }
}
.menu-title{
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
}

.listSelectButton{
  cursor: pointer;
  border: none;
  padding:0px;
}

.table-div{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}

.form-control{
  padding-left: 5px !important;
}

input{
  max-height: 30px;
}
select{
  max-height: 30px;
  padding-left: 5px;
}

.react-datepicker__input-container input{
  padding-left: 5px;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #f7f7f7;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.sidebar{
  background-color: #ebeff2;
}
